.toggle-button{
    -fx-border-radius: 8 0 0 8;
    -fx-background-color: transparent;
    -fx-border-color: #969696;
}
.toggle-button:selected{
    -fx-border-radius: 8 0 0 8;
    -fx-background-color: #00a1ff;
}